@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../images/backfoto_contacts.png) transparent;
  background-color: #457FA7;
  overflow-x: hidden;
}

/*              Шапка сайта              */
.header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #000;
}

@media (max-width: 700px) {
  .header {
    position: fixed;
    height: 60px;
    z-index: 900;
  }
}

/*-----------Mobile Nav-----------*/
@media (min-width: 1100px) {
  .nav-mobile, .hamb, #side-menu {
    display: none;
  }
}

#side-menu {
  display: none;
}

/*-------Hamburger-------*/
.hamb {
  cursor: pointer;
  position: fixed;
  /*position:absolute;*/
  left: 0px;
  top: 0;
  padding: 28px 20px;
  /*было 38 на 20*/
  z-index: 1201;
}

.hamb-line {
  background-color: #457FA7;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::after, .hamb-line::before {
  background-color: #457fa7;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::after {
  top: -5px;
}

.hamb-line::before {
  top: 5px;
}

.side-menu {
  position: absolute;
  top: 0;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.side-menu:checked ~ .hamb {
  left: 235px;
  -webkit-transition: left .4s ease-out;
  transition: left .4s ease-out;
}

.side-menu:checked ~ .hamb .hamb-line::before, .side-menu:checked ~ .hamb .hamb-line::after {
  background-color: #fff;
}

@media (min-width: 700px) and (max-width: 1100px) {
  .side-menu:checked ~ .hamb {
    left: 29%;
  }
}

/*-------------------------------*/
.nav-mobile {
  width: 300px;
  min-width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: -340px;
  /* внутренние отступы */
  padding: 15px 20px;
  /* плавный переход смещения панели */
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  /* определяем цвет фона панели */
  background: #457FA7;
  /* поверх других элементов */
  z-index: 1000;
}

[id='side-menu']:checked ~ .nav-mobile {
  left: 0;
  overflow-y: auto;
}

@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .nav-mobile {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.nav-mobile h2 {
  width: 90%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
  font-size: 1.3em;
  line-height: 1.3em;
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
          transform: scale(0.1, 0.1);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
}

.nav-mobile .logo_image {
  position: absolute;
  width: 60px;
  height: 60px;
}

.nav-mobile h2 {
  margin-top: 15px;
  padding-left: 20%;
}

.nav-mobile h2 a {
  color: lightblue;
  text-decoration: none;
}

/*плавное появление заголовка (логотипа) при раскрытии панели */
[id='side-menu']:checked ~ .nav-mobile h2 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-mobile > ul {
  display: block;
  margin: 30px 0;
  padding: 0;
  list-style: none;
}

.nav-mobile > ul > li {
  line-height: 2.5;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
  transition: opacity .5s .1s, -webkit-transform .5s .1s;
  transition: opacity .5s .1s, transform .5s .1s;
  transition: opacity .5s .1s, transform .5s .1s, -webkit-transform .5s .1s;
}

[id='side-menu']:checked ~ .nav-mobile > ul > li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-mobile > ul > li:nth-child(2) {
  -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
  transition: opacity .5s .2s, -webkit-transform .5s .2s;
  transition: opacity .5s .2s, transform .5s .2s;
  transition: opacity .5s .2s, transform .5s .2s, -webkit-transform .5s .2s;
}

.nav-mobile > ul > li:nth-child(3) {
  -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
  transition: opacity .5s .3s, -webkit-transform .5s .3s;
  transition: opacity .5s .3s, transform .5s .3s;
  transition: opacity .5s .3s, transform .5s .3s, -webkit-transform .5s .3s;
}

.nav-mobile > ul > li:nth-child(4) {
  -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
  transition: opacity .5s .4s, -webkit-transform .5s .4s;
  transition: opacity .5s .4s, transform .5s .4s;
  transition: opacity .5s .4s, transform .5s .4s, -webkit-transform .5s .4s;
}

.nav-mobile > ul > li > a {
  display: inline-block;
  position: relative;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #d9dfe0;
  width: 100%;
  text-decoration: none;
  -webkit-transition: color .5s ease, padding .5s ease;
  transition: color .5s ease, padding .5s ease;
}

.nav-mobile > ul > li > a:hover,
.nav-mobile > ul > li > a:focus {
  color: white;
  padding-left: 15px;
}

.nav-mobile > ul > li > a:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  -webkit-transition: width 0s ease;
  transition: width 0s ease;
}

.nav-mobile > ul > li > a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #3bc1a0;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

.nav-mobile > ul > li > a:hover:before {
  width: 0%;
  background: #3bc1a0;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

.nav-mobile > ul > li > a:hover:after {
  width: 0%;
  background: transparent;
  -webkit-transition: width 0s ease;
  transition: width 0s ease;
}

/*-----------Main Nav-----------*/
@media (max-width: 1100px) {
  .nav__link {
    display: none;
  }
}

.nav {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: 80px;
  margin-top: -1%;
}

.nav_links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_links li {
  display: inline-block;
  padding: 0px 50px;
}

.nav__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.67);
  font-size: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  -webkit-transition: color 0.3s ease 0s, left 0.3s ease 0s;
  transition: color 0.3s ease 0s, left 0.3s ease 0s;
}

.nav__link:after {
  content: "";
  position: relative;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #1A708B;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav__link:hover {
  color: #47b8b8;
}

.nav__link:hover:after {
  color: #457FA7;
  width: 100%;
  left: 0;
}

/*-------------Строка поиска-------------*/
@media (max-width: 1100px) {
  .cont2 .search1 {
    display: none;
  }
}

.search1 {
  margin-top: 15px;
  width: 295px;
  height: 30px;
  position: relative;
  padding-left: 6px;
  font-size: 18px;
  background-color: rgba(30, 170, 162, 0.3);
  border-radius: 6px;
  border-color: rgba(30, 170, 162, 0);
  display: block;
}

.butsearch {
  position: absolute;
  margin-top: 4px;
  margin-left: 262px;
}

.cont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon1 {
  position: relative;
  margin-left: 50px;
  left: -10px;
  width: 40px;
  height: 40px;
  border: none;
  background: linear-gradient(135deg, rgba(130, 255, 255, 0.71) 0%, rgba(135, 140, 255, 0.347604) 51.04%, rgba(255, 0, 229, 0) 100%);
  -webkit-filter: drop-shadow(-3px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-3px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 9px;
  z-index: 1000;
}

.icon1 ul {
  position: absolute;
  list-style: none;
  text-align: left;
  width: 200px;
  height: 60px;
  background: linear-gradient(96.84deg, #92F0CE 0%, rgba(158, 208, 224, 0.668229) 51.04%, rgba(8, 100, 239, 0.35) 100%);
  border-radius: 10px;
  margin-top: 60px;
  margin-left: 60px;
  padding: 0;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  -webkit-transform: translateX(210px);
          transform: translateX(210px);
}

.tel {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

.tele {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 7px;
  margin-left: 8px;
}

.icon1:hover {
  cursor: pointer;
}

.icon1:hover ul {
  -webkit-transform: translateX(-210px);
          transform: translateX(-210px);
  -webkit-transition: 2s;
  transition: 2s;
}

/*------------First section------------*/
.primary_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 315px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  vertical-align: middle;
  margin-left: 3%;
}

.logo_contacts {
  width: 71%;
  margin: 15% 30%;
}

.second {
  color: #fff;
  font-size: 45px;
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
  line-height: 85%;
  margin: 5.6% auto;
}

.dog_1 {
  position: relative;
  top: 12%;
  width: 71%;
}

/*------------Second section------------*/
.second_block {
  background: rgba(255, 255, 255, 0.5);
  height: 486px;
}

.con_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: 400;
  padding-top: 3.7%;
}

.con_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 26px;
  margin-left: 2%;
}

.con_2_1 {
  margin-top: 0.8%;
}

.c1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c1 div, .c1 p {
  margin-top: 2%;
}

.dog_2 {
  position: relative;
  top: 59px;
}

.ic1 {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  margin-left: 4%;
}

.t1, .t2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 20px;
}

.t2 {
  width: 220px;
  margin-left: 10%;
}

.dog_3 {
  width: 380px;
  margin-top: -6%;
}

/*------------Third section------------*/
.cont_sec {
  width: 35%;
  height: 10%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 15px;
}

.cont_sec p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.map {
  margin: 0 auto;
  width: 100%;
  height: 70%;
}

.bl1 {
  margin-top: 2%;
}

.map1 {
  margin-top: 1%;
}

/*----------------- Footer  -----------------*/
.footer {
  background-color: #737373;
  position: absolute;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 0px;
  background-image: url(../images/backfoto.png);
}

.foo_nav {
  font-size: 20px;
  margin-left: 0px;
  margin-top: 0px;
}

@media (max-width: 700px) {
  .foo_nav {
    display: none;
  }
}

.foo_navlinks {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foo_navlinks li:first-child {
  border-left: 0px solid #bbb;
}

.foo_navlinks li {
  display: inline-block;
  border-right: 0px solid #bbb;
  height: 30px;
}

ul {
  padding: 5px;
  height: 30px;
  background-image: url(../images/navdiv.png) no-repeat;
}

.f_navlink {
  display: inline;
  position: relative;
  padding: 0 40px 0 40px;
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  -webkit-transition: color 0.3s ease 0s, left 0.3s ease 0s;
  transition: color 0.3s ease 0s, left 0.3s ease 0s;
}

.f_navlink:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 23px;
  top: 2px;
  left: 0px;
  z-index: 100;
}

.foo_navlinks:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 23px;
  top: 5%;
  right: 26.2%;
  z-index: 100;
}

.foo_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  .foo_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foo_main .foo1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .foo_main .foo2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .foo_main .foo3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.foo1, .foo2, .foo3 {
  /*border: 1px solid black;*/
  color: #fff;
}

/*----------Foo 1----------*/
.foo1 {
  position: relative;
  font-size: 30px;
}

.foo1 p {
  text-shadow: -6px 5px 4px rgba(0, 0, 0, 0.25);
}

.foo1 p:after {
  position: absolute;
  left: 25px;
  top: 38px;
  content: "";
  width: 160px;
  height: 2px;
  background-color: #41AFC8;
}

.cont_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon_1 {
  width: 50px;
  height: 50px;
}

.icon_2 {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.icon_3 {
  width: 45px;
  height: 45px;
}

/*----------Foo 2----------*/
.foo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
}

.logo_small {
  width: 65px;
  height: 65px;
  margin-top: 12px;
}

.foo21 {
  margin-left: 30px;
  font-size: 25px;
}

@media (max-width: 700px) {
  .foo21 {
    font-size: 20px;
  }
}

.li1 {
  list-style-image: url(/icons/gmail_log11.png);
}

.li2 {
  list-style-image: url(/icons/map-point1.png);
}

/*----------Foo 3----------*/
.foo3 p {
  font-size: 25px;
  margin-left: 15px;
}

.cont44 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foo3_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2px;
  margin-right: 12px;
}

.imgf2 {
  margin-top: 25px;
}

.li31 {
  color: #fff;
  list-style-type: none;
  font-size: 22px;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=contacts.css.map */