.slider {
  position: relative;
  width: 100vw;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: calc(100vw);
}

.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#btn1:checked ~ .switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked ~ .switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked ~ .switch label[for="btn3"] {
  background-color: white;
}

#btn4:checked ~ .switch label[for="btn4"] {
  background-color: white;
}

.slider-inner {
  width: calc(100vw);
  overflow-x: hidden;
}

.slides1 {
  width: calc(5 * 100vw);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 556px) {
  .slides1 {
    display: none;
  }
}

.slides1 img {
  width: calc(100vw);
  float: left;
}

.slides2 {
  width: calc(5 * 100vw);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 557px) {
  .slides2 {
    display: none;
  }
}

.slides2 img {
  width: calc(100vw);
  float: left;
}

#btn1:checked ~ .slider-inner .slides1, #btn1:checked ~ .slider-inner .slides2 {
  -webkit-transform: translate(0);
          transform: translate(0);
}

#btn2:checked ~ .slider-inner .slides1, #btn2:checked ~ .slider-inner .slides2 {
  -webkit-transform: translate(calc(-100vw));
          transform: translate(calc(-100vw));
}

#btn3:checked ~ .slider-inner .slides1, #btn3:checked ~ .slider-inner .slides2 {
  -webkit-transform: translate(calc(-2 * 100vw));
          transform: translate(calc(-2 * 100vw));
}

#btn4:checked ~ .slider-inner .slides1, #btn4:checked ~ .slider-inner .slides2 {
  -webkit-transform: translate(calc(-3 * 100vw));
          transform: translate(calc(-3 * 100vw));
}

.products {
  margin-bottom: 2%;
}

.products a {
  text-decoration: none;
  color: currentColor;
  font-size: x-large;
  margin: 0;
}

@media (max-width: 999px) {
  .products a {
    font-size: x-large;
  }
}

.products img {
  border: 3px outset gray;
  -webkit-transition: -webkit-transform 3s ease-out;
  transition: -webkit-transform 3s ease-out;
  transition: transform 3s ease-out;
  transition: transform 3s ease-out, -webkit-transform 3s ease-out;
  max-width: 100%;
  max-height: 240px;
  width: auto;
  height: auto;
}

.products img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products div {
  display: table;
  text-align: center;
}

.products div span {
  display: block;
  position: relative;
  max-width: 30%;
  margin: 0;
  z-index: 1;
  top: 43px;
  left: 9%;
}

h3 {
  text-align: center;
}

.about {
  font-size: 14pt;
  font-weight: bolder;
}
/*# sourceMappingURL=home.css.map */